{% extends "master.html" %}
{% load static %}
{% block title %}
  Products
{% endblock %}

  
{% block content %}
<main>
    <section class="section-1">
    </section>
    <section id="section-2">



      <h1>comfort at your own style</h1>
      <p>Welcome to Deco! Discover timeless furniture crafted to elevate every room in your home. 
        From modern elegance to classic charm, each piece is thoughtfully designed to bring comfort, style, and functionality into your life. 
        Take a look around and find the perfect touch of Deco for your space.</p>
      <!-- <h1>Products</h1>

      <h3>Furnitures</h3>
      
      <p>Check out all our <a href="furnitures/">furnitures</a></p> -->
    </section>



    <section id="section-3" class="bg-light">
      <div class="container-fluid">
        <ul>
          <li>
            <div class="img-container">
              <img src="../static/images/img1.jpg" alt="">
              <label for="">LIVING ROOM FURNITURES</label>
            </div>
          </li>
          <li>
            <div class="img-container">
              <img src="../static/images/img1.jpg" alt="">
              <label for="">LIVING ROOM FURNITURES</label>
            </div>
          </li>
          <li>
            <div class="img-container">
              <img src="../static/images/img1.jpg" alt="">
              <label for="">LIVING ROOM FURNITURES</label>
            </div>
          </li>
          <li>
            <div class="img-container">
              <img src="../static/images/img1.jpg" alt="">
              <label for="">LIVING ROOM FURNITURES</label>
            </div>
          </li>
        </ul>
      </div>
      <div class="btn-container" >
        <a id="browse" href="furnitures/">browse all collections</a>
      </div>
    </section>



    <section id="section-4" class="container-fluid">
        <div id="sec4-img-container">
          <img src="../static/images/img1.jpg" alt="">
        </div>
        <div id="arrival-text-container">
          <h1>NEW ARRIVALS</h1>
        </div>
    </section>



    <section id="section-5" class="bg-light">
          <h1>best seller</h1>
          <div class="container-fluid">
            <ul>
              <li>
                <div class="img-container-5">
                  <img src="../static/images/img1.jpg" alt="">
                  <label for="">
                    <p>leather ergonomic chair - white</p>
                    <p>$99.00</p>
                    <p>In Stock</p>
                  </label>
                </div>
              </li>
              <li>
                <div class="img-container-5">
                  <img src="../static/images/img1.jpg" alt="">
                  <label for="">
                    <p>leather ergonomic chair - white</p>
                    <p>$99.00</p>
                    <p>In Stock</p>
                  </label>
                </div>
              </li>
              <li>
                <div class="img-container-5">
                  <img src="../static/images/img1.jpg" alt="">
                  <label for="">
                    <p>leather ergonomic chair - white</p>
                    <p>$99.00</p>
                    <p>In Stock</p>
                  </label>
                </div>
              </li>
              <li>
                <div class="img-container-5">
                  <img src="../static/images/img1.jpg" alt="">
                  <label for="">
                    <p>leather ergonomic chair - white</p>
                    <p>$99.00</p>
                    <p>In Stock</p>
                  </label>
                </div>
              </li>
              <li>
                <div class="img-container-5">
                  <img src="../static/images/img1.jpg" alt="">
                  <label for="">
                    <p>leather ergonomic chair - white</p>
                    <p>$99.00</p>
                    <p>In Stock</p>
                  </label>
                </div>
              </li>
            </ul>
          </div>
    </section>

  </main>
  <footer>
    <div class="container-fluid">
      <ul>
        <li>
          <h6>customer service</h6>
          <p>help centre</p>
          <p>free shipping</p>
          <p>contact us</p>
        </li>
        <li>
          <h6>customer service</h6>
          <p>help centre</p>
          <p>free shipping</p>
          <p>contact us</p>
        </li>
        <li>
          <h6>customer service</h6>
          <p>help centre</p>
          <p>free shipping</p>
          <p>contact us</p>
        </li>
      </ul>
    </div>
    <div id="all-rights-container">
      <h6>Deco. |All rights Reserved| 2024</h6>
    </div>
  </footer>
  
{% endblock %}
